{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-clean-order"
  ],
  "rules": {
    "indentation": "tab",
	"custom-property-pattern": ".*",
    "color-hex-case": "upper",
    "selector-class-pattern": "^.*$",
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "ignoreShorthands": [
          "/grid/"
        ]
      }
    ]
  }
}
